@reset-global pc;

:global {
  & .wrapper {

    & .page-container {

    }

    & .page-loading, & .page-error {
      margin: 50px auto;
      text-align: center;
      font-size: 13px;
      color: #999;
    }
  }
}
