extends ../../layout/default.pug

block title
  title MobX Test

block append style
  link(type="text/css" rel="stylesheet" href="/test/index.css")

block append script
  script(src="/test/index.js")

block content
  div#app
