extends ../../layout/default.pug

block title
  title Pug Example

block append style
  link(type="text/css" rel="stylesheet" href="/homepage/index.css")

block append script
  script(src="/homepage/index.js")

block content
  div#app
