.wrapper {
  margin: 50px 20px;

  & .dev-tools-intro {
    position: fixed;
    top: -1px;
    right: 0;
    width: 350px;
    height: 100px;
    font-size: 12px;
    color: #999;
    border: 1px dashed #999;
    & .dev-tools-intro-0 {
      padding-left: 10px;
      line-height: 2;
      color: #333;
    }
    & .dev-tools-intro-1 {
      position: absolute;
      top: 30px;
      right: 135px;
    }
    & .dev-tools-intro-2 {
      position: absolute;
      top: 50px;
      right: 90px;
    }
    & .dev-tools-intro-3 {
      position: absolute;
      top: 70px;
      right: 45px;
    }
  }
}

.time {
  color: #585bf8;
}
