@import '../../common/styles/common.css';

html, body {
  height: 100%;
  & :global(#app) {
    height: 100%;
    display: flex;
  }
  & :global(.wrapper) {
    flex: 1;
    display: flex;
  }
}

:global {
  & .mst-time-trival {
    position: fixed;
    top: 40px;
    right: 0;
    width: 60px;
    & .mst-time-trival-prev, & .mst-time-trival-next {
      width: 60px;
      height: 60px;
      line-height: 60px;
      margin-bottom: 10px;
      border: 1px solid #999;
      color: #f33;
      text-align: center;
      cursor: pointer;
    }
  }
}

.page-container {
  flex: 1;
  padding: 20px;
  background: #dedede;

  & .header {
    margin: 20px 0;
    font-size: 24px;
    color: #333;
  }

  & .title {
    font-size: 16px;
    color: #666;
    text-indent: 2em;
  }

  & .content {
    margin: 20px 60px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #f8f8f8;
    font-size: 14px;
    color: #666;

    & .hotel-list-item {
      padding: 10px 0;
      text-indent: 2em;
    }
  }
}
